.list-group-item {
  border: none !important;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  padding: 8px 8px;
  margin-bottom: 8px;
}

.list-group-item-header {
  background: rgba(0,151,167,0.7);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
  padding: 12px 16px;
  margin-bottom: 10px;
}

.article-title{
  color: white;

}
