<header class="simplify-header"></header>
<div class="container">
  <div id="title" class="m-3">
    <p>Article: <%= link_to "#{@article.title}", @article  %></p>
  </div>

  <div id="messages">
    <%= render 'messages/messages', messages: @chat.messages %>
  </div>

  <div id="new-message-container">
    <%# The keys inside of a render statement, are variables inside of that partials %>
    <%= render 'messages/form', chat: @chat, message: @message %>
  </div>
</div>
